<component name="ArtifactManager">
  <artifact type="exploded-war" name="Mybatisexam:war exploded">
    <output-path>$PROJECT_DIR$/J2EE/Exam/Mybatis/target/Mybatis</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Mybatisexam" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.5" />
          <element id="library" level="project" name="Maven: com.oracle:ojdbc14:10.2.0.4.0" />
          <element id="library" level="project" name="Maven: junit:junit:3.8.2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/J2EE/Exam/Mybatis/target/Mybatis/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Mybatisexam/web/Web" />
    </root>
  </artifact>
</component>